[submodule "plugins/profile-utils"]
	path = plugins/profile-utils
	url = https://github.com/Scrandox/profile-utils-ScranCustom
[submodule "plugins/Elaina-V4"]
	path = plugins/Elaina-V4
	url = https://github.com/Scrandox/Elaina-V4-ScranCustom
